<%- include("../partials/header") %>
<h2>Add a Member</h2>
<form action="/api/users/<%= user_id %>/groups/<%= group.id %>" method="POST">
    <input type="text" name="username" placeholder="Name">
    <button>Submit</button>
</form>

<li>
    <% group.messages.forEach(message => { %>
        <ul>
            <%= message.user %>
            <br>
            <%= message.data %> 
 
        </ul>
    <% }) %>
    <div id="messages"></div>
</li>


<script id="message-template" type="text/html">
    <div>
        <p>{{msg}}</p>
    </div>
</script>


<h2>Send a message</h2>
<form action="/api/users/<%= user_id %>/groups/<%= group.id %>/messages" method="POST">
    <input type="text" name="data" placeholder="message" id="message">
    <button id="send_message">Submit</button>
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    const socket = io()

    const $messages = document.querySelector('#messages')

    // Templates
    const messageTemplate = document.querySelector('#message-template').innerHTML

    document.querySelector("#send_message").addEventListener('click', (e) => {
        e.preventDefault();
        const msg = document.querySelector("#message").value 
        socket.emit('sendMsg', msg);
    })
        socket.on('message', (msg)=> {
            console.log(msg);
        
            //TODO replace with proper code to satisfy database 
            const html = '<li>' + msg + '<li>'
            $messages.insertAdjacentHTML('beforeend', html)
    })
</script>


<%- include("../partials/footer") %>